
$mainColor: #5474fd;
$mainBackground: #fff;

$container: 1110px;
$colGups: 15px;


$textFont-size: 1rem;  // 16px

$breakpoints: (
  xs: 0,
  sm: 575px,
  md: 768px,
  lg: 1025px,
  xl: 1200px,
  xxl: 1440px
  );



  //===========  mixins start ===========//

// columns
$columns: 12;
$col: $columns;
$mainFont: 'Josefin Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aleo:300,400,700&display=swap');

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}


//===========  mixins end ===========//

@mixin col-create(){
  @while $col > 0 {

    .col-#{$col} {

      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}


.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
}


// layout

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -$colGups;
  margin-left: -$colGups;
}

[class^='col']{
  padding-left:$colGups;
  padding-right:$colGups;
  width: 100%;
  min-height: 1px;
}

@include col-create()


// main styles

body{
  font-family: sans-serif;
  font-size: 1rem;
  padding: 15px;
}

//buttons
a, button{
  transition: .3s ease-in;
  transition-property: color, background-color, opacity;

}
button, .button{
  cursor: pointer;
}
button:hover{
  background: rgb(195,204,207);
  color: #3a7999;
  box-shadow:  0 0 0 3px #3a7999;
}
.header{
  background-image: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  .container{
     height: calc(100vh - 80px);
  }
}
.ba-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30vh;

  &__title{
    font-size: 3rem;
    font-family: $mainFont;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
  }
  &__subtitle{
    font-size: 1.375rem;
    font-family: $mainFont;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    margin: 15px 0 50px;
    letter-spacing: 0.2em;
  }
  &__scroll{
    font-size: 0.875rem;
    font-family: $mainFont;
    color: rgb(255, 255, 255);
    line-height: 1.857;
    margin-top: 15vh;
  }
}
.scroll:hover{
  transform: scale(1.3);
}
input[placeholder]{
  font-size: 0.875rem;
  font-family: $mainFont;
  color: rgb(153, 153, 153);
  text-align: center;
}
.ba-header-form{
  background-color: #fff;
  height: 60px;
  padding-right: 3px;
  .search{
    border: none;
    height: 100%;
    width: 500px;
  }
  .search-btn{
    border: none;
    height: 55px;
    width: 150px;
    font-size: 0.875rem;
    font-family:'Aleo', serif; 
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.857;
    text-align: center;
    background-color: $mainColor;
    &:hover{
      background-color: #89ebe1;
    }
  }
}
.ba-header-nav{
  background-color: $mainColor; 
  height: 80px;
  .container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .ba-header-nav__title{
    font-weight: normal;
    font-size: 1.5rem;
    font-family: $mainFont;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
}
.menu{
  &__item{
    display: inline;
  }
  &__link{
    font-size: 0.875rem;
    font-family: 'Aleo', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    &:hover{
      color: #000;
    }
  }
}
.menu__item + .menu__item{
  margin-left: 40px;
}
.main-content-container{
  display: flex;
  padding-bottom: 100px;
}
.main-content{
  background-image: url('../img/why.jpg');
  &__title{
    font-size: 2.25rem;
    font-family: 'Aleo', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    padding: 200px 0 50px;
  }
  &__text{
    font-size: 1rem;
    font-family: $mainFont;
    color: rgb(232, 232, 232);
    line-height: 1.625;
    font-weight: lighter;
    letter-spacing: 0.06em;
  }
  &__btn{
    font-size: 1rem;
    font-family: 'Aleo', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 60px;
    font-weight: lighter;
    background-color: rgb(73, 107, 254);
    width: 230px;
    border: none;
    margin: 40px 0 0;
    
  }
  &__img-home{
   padding-top: 120px;
 }
 &__img-mount{
   float: right;
 }
}
.links{
  background-image: url('../img/bg-link.png');
  background-position: center;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  .main-link{
    display: flex;
    &__title{
      font-size: 2.25rem;
      font-family: 'Aleo', sans-serif;
      color: rgb(232, 232, 232);
      font-weight: normal;
      margin-top: 30px;
      &:hover{
        color: $mainColor;
      }
    }
    .link-item{
      margin: 0 85px;
      text-align: center;
      background-color: #333333;
    }
  }
}
.spain-first{
  background-image: url('../img/spain.jpg');
  background-repeat: no-repeat;
  padding-top: 14em;
  padding-bottom: 6em;
}
.spain-card{
  background-color: rgba(35,35,35, 0.8);
  padding: 50px 30px;
  &__title{
    font-size: 1.25rem;
    font-family: $mainFont;
    color: rgb(232, 232, 232);
    font-weight: lighter;
  }
  &__about{
    font-size: 1.25rem;
    font-family: $mainFont;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: normal;
    margin: 30px 0;
  }
  &__text{
    font-size: 1rem;
    font-family: $mainFont;
    color: rgb(232, 232, 232);
    line-height: 1.625;
    font-weight: lighter;
    margin-bottom: 40px;
  }
  &__btn{
    background-color: $mainColor;
    width: 225px;
    font-size: 1rem;
    font-family: 'Aleo', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 60px;
    border: none;
    font-weight: normal;
  }
}
.spain-second{
  background-image: url('../img/spain-1.jpg');
  background-repeat: no-repeat;
  padding-top: 14em;
  padding-bottom: 6em;
  .spain-card{
    margin-left: auto;
  }
}
.tourist{
  background-image: url('../img/review.jpg');
  background-repeat: no-repeat;
  padding: 7em 0 12em;
  &__title{
    font-size: 2.25rem;
    font-family: 'Aleo', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 300;
    margin-bottom: 90px;
  }
}
.tourist-card{
  display: flex;
  .tourist-info{
    padding: 50px;
    &__name{
      font-size: 1.25rem;
      font-family: $mainFont;
      color: rgb(254, 254, 254);
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 30px;
    }
    &__feedback{
      font-size: 1rem;
      font-family: $mainFont;
      color: #fff;
      font-weight: 300;
      line-height: 1.6;
    }
  }
}
.ba-footer{
  height: 270px;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title{
    font-size: 2.25rem;
    font-family: $mainFont;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
  }
  &__subtitle{
    font-size: 1rem;
    font-family: $mainFont;
    color: rgb(255, 255, 255);
    margin: 15px 0 30px;
  }
}
.social__link{
  width: 15px;
  height: 15px;
  fill: #fff;
  &:hover{
    fill: $mainColor;
  }
}
.social{
  a{
    margin-left: 25px;
  }
}

@media screen and (max-width: 700px){
  .ba-header-form{
  height: 30px;
  width: 70%;
  .search{
    width: 68%;
  }
  .search-btn{
    height: 25px;
    width: 30%;
    font-size: 0.5rem;
  }
}
.header{
  .container{
     height: calc(100vh - 140px);
  }
}
input[placeholder]{
  font-size: 0.5rem;
}
.ba-header-nav{
  padding: 15px;
  height: 140px;
  .container{
    height: 100%;
  }
}
.menu__item{
  display: block;
}
.menu__item + .menu__item{
  margin: 0;
  margin-top: 10px;
}
.col-6{
  width: 100%;
}
.main-content-container{
  display: block;
  padding-bottom: 30px;
}
.main-content__title {
    padding: 20px 0 15px;
}
.main-content__img-home {
    padding-top: 30px;
}
.main-content__img-mount {
    padding-top: 30px;
    float: none;
}
.links{
  padding: 15px;
  height: auto;
  background-position: top;
  .main-link{
    display: block;
    .link-item{
      margin-bottom: 20px;
    }
    &__title{
      margin: 0;
    }
  }
}
.spain-first, .spain-second{
  padding: 100px 0;
  background-position: center;
}
.tourist{
  padding-top: 25px;
  background-size: cover;
  background-position:  center;
  padding-bottom: 25px;
  &__title{
    margin-bottom: 25px;
  }
}
.tourist-card{
  display: block;
}
}